@font-face {
  font-family: "noto sans"; 
  font-style: normal;
  font-weight: normal; 
  font-display: swap;
  src: url("./NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "noto sans"; 
  font-style: normal;
  font-weight: bold; 
  font-display: swap;
  src: url("./NotoSans-Bold.ttf") format("truetype");
}
/* @font-face {
  font-family: "noto sans"; 
  font-style: normal;
  font-weight: light; 
  font-display: swap;
  src: url("./NotoSans-Light.ttf") format("truetype");
}
 */


