@import './editor.css';
@import './markdown.css';
@import './overrides.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0e10;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif !important;
}


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    margin-top: 12px;
    /* height: 56px; */
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #b6b1b5;
}
